<h1><%= t :log_in %></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "#{t :email}" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "#{t :password}" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "#{t :log_in}" %>
  </div>
<% end %>

<p><%= t :home_newuser %> <%= link_to "#{t :register}", signup_path %></p>
