<tr>
    <td><%= l Date.parse item["date"] %></td>
    <td><%= item["amount"] %></td>
    <td><%= total %></td>
    <td>
    <% if item["type"] == "payment" %>
        <%= t :payment_of %>: <%= link_to item["name"], user_path(item["id"]) %>
    <% elsif item["type"] == "bet" %>
        <%= t :bet %>: <%= link_to item["name"], event_bet_path(item["extra"], item["id"]) %>
    <% else %>
        <%= item["name"] %>
    <% end %>
    </td>
</tr>