<tr>
    <td><%= l Date.parse item["date"] %></td>
    <td><%= item["amount"] %></td>
    <td><%= total %></td>
    <td>
    <% if item["type"] == "payment" %>
        <%= t :payment_of %>: <%= link_to item["name"], user_path(:id => item["id"]) %>
    <% else %>
        <%= t :bet_of %>: <%= link_to item["name"], event_bets_path(:event_id => item["id"]) %>
    <% end %>
    </td>
</tr>