<h1><%= t :accounts %></h1>

<% unless @items.empty? %>
    <table>
      <thead>
        <tr>
          <th><%= t :fdate %></th>
          <th><%= t :money %></th>
          <th><%= t :total %></th>
          <th><%= t :description %></th>
        </tr>
      </thead>
      <tbody>
      <% total = 0 %>
      <% @items.each do |item| %>
        <% total += item["amount"].to_f %>
        <%= render 'admin/accounts/item', :item => item, :total => total %>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p><%= t :accounts_empty %></p>
<% end %>