<tr>
  <td>
    <%= link_to bet["title"], event_bet_path(:event_id => @event, :id => bet["id"])  %>
  </td>
  <td>
    <%= bet["votes"] %>
  </td>
  <td>
    <%= link_to bet["author"], user_path(:id => bet["user_id"]) %>
  </td>
  <td>
      <% if @event.active? %>
        <% if bet["voted"] == "1" %>
          <%= link_to "#{t :unvote}", unvote_path(:event_id => @event, :id => bet["id"]) %>
        <% else %>
          <%= link_to "#{t :vote}", vote_path(:event_id => @event, :id => bet["id"]) %>
        <% end %>
      <% else %>
        <% if current_user.admin? %>
          <%= link_to "#{t :edit}", edit_event_bet_path(:event_id => @event, :id => bet["id"]) %>
        <% end %>
        <% if bet["selected"] == "t" %>
          | <%= t :selected %>
        <% end %>
      <% end %>
  </td>
</tr>