<h1><%= @event.name %></h1>

<% if @bets.any? %>
    <table>
      <thead>
        <tr>
            <th><%= t :title %></th>
            <th><%= t :votes %></th>
            <th><%= t :author %></th>
            <th><%= t :actions %></th>
        </tr>
      </thead>
      <tbody>
        <% @bets.each do |bet| %>
          <%= render 'bet_votes', :bet => bet %>
        <% end %>
      </tbody>
    </table>
<% else %>
    <p><%= t :no_bets %></p>
<% end %>

<% if @event.active? and !current_user.passive?%>
    <%= link_to "#{t :new_bet}", new_event_bet_path %>
<% end %>
