  <div class="field">
    <%= f.label :name, "#{t :name}" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, "#{t :surname}" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :email, "#{t :email}" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "#{t :password}" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "#{t :confirmation}" %><br />
    <%= f.password_field :password_confirmation %>
  </div>