<h1><%= t :edit_user %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'users/form', :f => f %>
  <div class="actions">
    <%= f.submit "#{t :submit}" %>
  </div>
<% end %>