<h1><%= t :user_profile %></h1>

<%= @user.surname %>, <%= @user.name %> |

<%= link_to "#{t :edit}", edit_user_path(@user) %> |

<%= link_to "#{t :delete}", @user, :method => :delete,
                                    :confirm => "#{t :delete_confirm}",
                                    :title => "#{t :delete} #{@user.name}" %>

<br />
<% if @user.passive? %>
    <%= t :passive_profile %>
<% else %>
    <%= t :active_profile %>
<% end %>
<br />
    <% money = 0 %>
    <% AccountSummary.full_accounts_info.each do |sum| %>
        <% money += sum["amount"] %>
    <% end %>
    <p>Money: <%= (money/23).round(2) %> €</p>
<%= link_to "#{t :payment_list}", user_payments_path(@user) %>