<h1><%= t :events_history %></h1>

<% if @events.any? %>
    <%= will_paginate %>
    <ul>
      <%= render @events %>
    </ul>
    <%= will_paginate %>
<% else %>
    <p><%= t :no_events_hist %></p>
<% end %>
