<h1><%= t :events_index %></h1>

<% if @events.count > 0 %>
    <%= will_paginate %>
    <ul>
      <%= render @events %>
    </ul>
    <%= will_paginate %>
<% else %>
    <p><%= t :no_events_index %></p>
<% end %>

<% if current_user.admin? %>
    <%= link_to "#{t :new_event}", new_event_path %>
<% end %>
