<h1><%= t :payment_list %></h1>

<% unless @payments.empty? %>
    <%= will_paginate %>
    <ul>
        <%= render @payments %>
    </ul>
    <%= will_paginate %>
<% else %>
    <p><%= t :no_payment_list %></p>
<% end %>

<% if current_user.admin? %>
    <%= link_to "#{t :new_payment}", new_user_payment_path(@user) %>
<% end %>
