<h1><%= t :new_payment %></h1>

<%= form_for(@payment, :url => user_payments_path, :user_id => @user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'form', :f => f %>
  <div class="actions">
    <%= f.submit "#{t :submit}" %>
  </div>
<% end %>

